<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:description="@string/xposed_desc"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPSSetter"
        tools:targetApi="34">
        <activity
            android:name=".ui.ActivitySettings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.MapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.JoystickService"
            android:exported="false" />

        <service
            android:name=".route.RoutePlaybackService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".utils.SpoofTileService"
            android:exported="true"
            android:icon="@drawable/ic_baseline_my_location_24"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.FavoriteTileService1"
            android:exported="true"
            android:icon="@drawable/ic_baseline_favorite"
            android:label="@string/favorite_tile_1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.FavoriteTileService2"
            android:exported="true"
            android:icon="@drawable/ic_baseline_favorite"
            android:label="@string/favorite_tile_2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.FavoriteTileService3"
            android:exported="true"
            android:icon="@drawable/ic_baseline_favorite"
            android:label="@string/favorite_tile_3"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.StopSpoofReceiver"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJHl2fdyya0PuEY-LRFUZM71pijfZN6IE" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>